* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

body,
html {
	width: 100%;
	height: 100%;
}

.head-img {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.head-img:after {
	content: '上传';
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
}

.selImg {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.my-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cj-mask {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
	overflow: hidden;
}

.show-img {
	position: absolute;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.show-img:after {
	z-index: 2;
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

#myCanvas {
	z-index: 9;
	position: absolute;
	border-radius: 50%;
	display: none;
}

#show-content{
	z-index: 9;
	position: absolute;
	border-radius: 50%;
}

.portrait-footer {
	width: 100%;
	height: 44px;
	position: absolute;
	bottom: 0;
	line-height: 44px;
	text-align: center;
	color: #fff;
}

.portrait-footer div {
	width: 50%;
	height: 100%;
	float: left;
}
